
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=pfodjkspfojdsopj32[oojj43o3112312...

SUPABASE_SERVICE_ROLE_KEY=pfodjkspfojdsopj32[oojj43o3112312...

NEXT_PUBLIC_SITE_URL=http://localhost:3000

